<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.mappers.boardMapper">
	<select id="selectAllBoardLists" resultType="com.mini.project.board.domain.BoardVO">
		SELECT *
		FROM board
		ORDER BY boardNo DESC
	</select>
	
	<insert id="saveNewBoard">
		INSERT INTO board(title, content, writer)
		VALUES(#{title}, #{content}, #{writer})
	</insert>
	
	<select id="selectBoardByBoardId" resultType="com.mini.project.board.domain.BoardVO">
		SELECT *
		FROM board
		WHERE boardNo = #{id}
	</select>
	
	<insert id="saveUpFile">
		insert into boardupfiles(newFileName, originFileName, thumbFileName, ext, size, boardNo, base64Img)
		values(#{newFileName}, #{originFileName}, #{thumbFileName}, #{ext}, #{size}, #{boardNo}, #{base64Img})
	</insert>
	
	<select id="selectBoardUpFiles" resultType="com.mini.project.board.domain.BoardUpFilesVODTO">
		SELECT boardFileNo, originFileName, thumbFileName, ext, size, boardNo, base64Img
		FROM boardupfiles
		WHERE boardNo = #{id}
	</select>
	
	
	<resultMap type="com.mini.project.board.domain.BoardDetailInfo" id="boardDetailInfoMap">
		<result column="boardNo" property="boardNo" javaType="int"/>
		<result column="title" property="boardNo" javaType="String"/>
		<result column="content" property="boardNo" javaType="String"/>
		<result column="writer" property="boardNo" javaType="String"/>
		<result column="postDate" property="boardNo" javaType="java.sql.Timestamp"/>
		<result column="readCount" property="boardNo" javaType="int"/>
		<result column="ref" property="boardNo" javaType="int"/>
		<result column="step" property="boardNo" javaType="int"/>
		<result column="refOrder" property="boardNo" javaType="int"/>
		<result column="userName" property="userName" javaType="String"/>
		<result column="email" property="email" javaType="String"/>
		<collection property="fileList" ofType="com.mini.project.board.domain.BoardUpFilesVODTO" javaType="java.util.List">
			<result column="boardUpFileNo" property="boardUpFileNo" javaType="int"/>
			<result column="newFileName" property="newFileName" javaType="String"/>
			<result column="originFileName" property="originFileName" javaType="String"/>
			<result column="thumbFileName" property="thumbFileName" javaType="String"/>
			<result column="ext" property="ext" javaType="String"/>
			<result column="size" property="size" javaType="long"/>
			<result column="boardNo" property="boardNo" javaType="int"/>
			<result column="base64Img" property="base64Img" javaType="String"/>
		</collection>
	</resultMap>
	
	<select id="selectReadLogByIdAndIp" resultType="int">
	SELECT IFNULL(datediff(now(), (
		SELECT readwhen 
    	FROM boardreadlog 
    	WHERE readwho = #{ip}
    	AND boardNo = #{id})
    ), -1)
	</select>
	<insert id="insertBoardReadLog">
		INSERT INTO boardreadlog(readwho, boardNo)
		values(#{ip}, #{id})
	</insert>
	<update id="updateBoardReadCount">
		UPDATE board
		SET readCount = readCount+1
		WHERE boardNo = #{id}
	</update>
	<update id="updateBoardReadLog">
		UPDATE boardreadlog
		SET readWhen = now()
		WHERE boardNo = #{id}
		AND readWho = #{ip}
	</update>
</mapper>