<configuration>
   <include resource="org/springframework/boot/logging/logback/base.xml"/>
      <logger name="jdbc.sqlonly"       level="OFF"/>
      <logger name="jdbc.sqltiming"        level="OFF"/>
      <logger name="jdbc.audit"          level="OFF"/>
      <logger name="jdbc.resultset"       level="OFF"/>
      <logger name="jdbc.resultsettable"  level="INFO"/>
      <logger name="jdbc.connection"       level="OFF"/>
</configuration>